@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Main Menu Styles */

.container{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
}

.mmHeading h1{
    color: #ed9e28;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
}

.playBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.playBtn{
    display: flex;
    background-color: #41b310;
    height: 18vh;
    width: 18vh;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

#playIcon{
    font-size: 125px;
    color: black;
    margin-left: 20px;
}

.subTextDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

.subText{
    color: #ed9e28;
    font-size: 18px;
}

.btnGroup button{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    display: block;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    border-radius: 10px;
    margin-bottom: 35px;
    border: 0px;
    background-color: #41b310;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-height: 750px){
    #playIcon{
      font-size: 100px;
    }
    .subTextDiv{
      margin-bottom: 5vh;
    }
    .btnGroup button{
      font-size: 20px;
    }
}
  
@media screen and (max-width: 700px){
    .btnGroup button{
        height: 10vh;
        width: 60vw;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 800px){
    .container .heading h1{
        font-size: 30px;
    }
    .subText{
        font-size: 20px;
    }
    .btnGroup button{
        height: 10vh;
        margin-bottom: 25px;
    }
}

@media screen and (min-height: 1000px){
    .container .heading h1{
        font-size: 50px;
    }
    .subText{
        font-size: 35px;
    }
    .btnGroup button{
        font-size: 35px;
    }
}