@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    display: grid;
    place-items: center;
}

.loader {
    border: 5px solid #e3e3e3;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#quizPage{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#quizPage h1{
    text-align: center;
}

#progressBar{
    height: 8vh;
    width: 80%;
    margin: 0px auto;
}

#qpTimer{
    background-color: white;
    height: 3vh;
    width: 97%;
    margin-top: 25px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    animation: progressbar-countdown;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
}
@keyframes progressbar-countdown {
    0% {
        width: 97%;
        background: #FFF;
    }
    100% {
        width: 0%;
        background: #FFF;
    }
}

#qpTimer p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
}

#gameInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameInfo p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#qnHeading{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    margin-top: 25px;
}

#questionBox{
    display: flex;
    position: relative;
    align-items: center;
    width: 50vw;
    min-height: 20vh;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    overflow: auto;
}

#questionBox #question{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}

#answerChoices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    height: auto;
    width: 53vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
}

#answerChoices p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    background-color: white;
    min-height: 5vh;
    height: auto;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

@media screen and (max-height: 800px) {
    #qnHeading{
        font-size: 17px;
        margin-top: 12px;
    }
    #questionBox{
        min-height: 15vh;
    }
    #questionBox #question{
        font-size: 18px;
    }
    #answerChoices{
        margin-top: 10px;
    }
    #answerChoices p{
        font-size: 18px;
        line-height: 30px;
    }
}

@media screen and (min-height: 1000px) {
    #qpTimer p{
        font-size: 25px;
    }
    #gameInfo p{
        font-size: 17px;
    }
    #questionBox #question{
        font-size: 25px;
    }
    #answerChoices p{
        font-size: 25px;
        line-height: 50px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 750px) {
    #gameInfo p{
        font-size: 12px;
    }
    #questionBox{
        width: 60vw;
        padding: 7px 18px;
    }
    #questionBox #question{
        font-size: 22px;
    }
    #answerChoices{
        width: 65vw;
    }
    #answerChoices p{
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    #gameInfo p{
        font-size: 10px;
    }
    #questionBox #question{
        font-size: 16px;
    }
    #answerChoices p{
        font-size: 12px;
    }
}

@media screen and (min-width: 1050px) {
    #qpTimer p{
        font-size: 20px;
    }
    #gameInfo p{
        font-size: 15px;
    }
    #questionBox #question{
        font-size: 25px;
    }
    #answerChoices p{
        font-size: 22px;
    }
}