@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container{
    font-family: "Merriweather Sans", sans-serif;
}

.settingsPage{
    position: relative;
}

.settingsPage .backBtn{
    position: absolute;
    left: 5%;
    top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2vh;
    width: 8vw;
}

.settingsPage .backBtn:hover{
    color:#5e5e5b;
}

.settingsPage h1{
    text-align: center;
}

.settingsDiv{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 25px auto;
    padding: 10px;
}

.setOpts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 25px;
}

.setOpts div{
    width: 100%;
    cursor: pointer;
}

.setOpts p{
    text-align: center;
}

.difficultyOptions .easyOption{
    color: #13ed4a;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.difficultyOptions .normalOption{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #969292;
    color: #f5f51d;
}

.difficultyOptions .hardOption{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fc1a0a;
}

.gameSpeedOptions .mediumOption{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #969292;
}

.themeOptions .lightOption{
    border-right: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #969292;
}